<!doctype html>
<html lang="he" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href={{ url_for('static', filename= '/css/general.css') }}>
    <script src={{ url_for('static', filename='js/js.js') }}></script>

    <title>After Test</title>
    </head>
<body>
    <div class="grid-container">
        <div class="nameUni">
            <h1>אוניברסיטת בן-גוריון בנגב - המחלקה להנדסת תעשייה וניהול</h1>
        </div>
        <div class="logo">
            <img id="logoImg" src="{{url_for('static', filename='images/logobengurion.png') }}" alt= "logo"><br>
        </div>
    </div>

        <h2 style="text-align: right">שאלון ידע</h2>

                <form method="GET" action='requestAfter'>
                    <h4> סיפור מקרה 1:</h4>
                    <p>
                        הדר, הבעלים של חנות הספרים "ספרים ועוד" מקבלת את כל הרווחים החשבונאיים (accounting profits) שהרוויחה החברה שלה ומשכורת של 28,000 דולר לשנה שהיא משלמת בעצמה.
                        <br>
                        יש לה הצעת שכר קבועה של 35,000 דולר בשנה אם היא תסכים לעבוד בתאגיד גדול. אם הייתה משקיעה את הונה מחוץ לחברה שלה, היא מעריכה שיוחזר לה 22,000 דולר לשנה.
                        <br>
                        בשנה שעברה הרווח החשבונאי (accounting profit) שלה היה 50 אלף דולר.
                    </p>
                    <label for="Q1" ><b>מהן העלויות הלא מפורשות (implicit costs) של הדר? </b></label>
                    <input type="number" placeholder="Write your Answer" name="Q1" required>
                    <br>
                    <br>
                    <label for="Q2" ><b>מהי עלות הזדמנות (opportunity cost) של הדר? </b></label>
                    <input type="number" placeholder="Write your Answer" name="Q2" required>
                    <br>
                    <br>
                    <label for="Q3" ><b>מהו הרווח הכלכלי (economic profit) של הדר? </b></label>
                    <input type="number" placeholder="Write your Answer" name="Q3" required>
                    <br>
                    <br>
                    <h4> סיפור מקרה 2:</h4>
                    <p>
                        פרד עובד כיום במשרד רואי חשבון ומרוויח 125,000 דולר לשנה.
                        <br>
                        הוא שוקל לפתוח פירמה משלו, שם הוא מצפה להרוויח 200,000 $ בשנה לאחר שיתבסס. כדי לנהל משרד משלו הוא יזדקק למשרד, העולה 50,000 דולר לשנה ולפקיד, העולה 35,000 דולר לשנה.

                    </p>
                    <label for="Q4" ><b>מה העלויות המפורשות (explicit cost) של פרד?  </b></label>
                    <input type="number" placeholder="Write your Answer" name="Q4" required>
                    <br>
                    <br>
                    <label for="Q5"><b>מהו הרווח החשבונאי (accounting profit) של פרד?  </b></label>
                    <input type="number" placeholder="Write your Answer" name="Q5" required>
                    <br>
                    <br>
                    <label for="Q6"><b>מהו הרווח הכלכלי (economic profit) של פרד?  </b></label>
                    <input type="number" placeholder="Write your Answer" name="Q6" required>
                    <br>
                    <br>
                    <h4> סיפור מקרה 3:</h4>
                    <p>
                        סיד היה פרופסור למשפטים והרוויח 80,000 דולר בשנה. אך הוא התעייף מללמד סטודנטים למשפטים והחליט להקים משרד עורכי דין משלו.
                        <br>
                        ההכנסות של סיד מעסקי עורכי הדין שלו בשנת הראשונה היו 240,000 $. סיד גם שכר את דונה שתעבוד אצלו במשרה חלקית ושילם לה סך של 30,000 $ במהלך השנה הראשונה.
                        <br>
                        ההוצאות העסקיות האחרות של סיד במהלך השנה היו שוות ל 22,000 $. סיד נאלץ לוותר גם על השכרת מבנה שהתחיל להשתמש בו לעסק שלו.
                        <br>
                        הוא הרוויח 13,800 דולר בשנה בהשכרת הבניין שלו לפני שהחל את עסקיו.
                        <br>
                    </p>
                    <label for="Q7"><b>מה העלויות המפורשות (explicit cost) של סיד?   </b></label>
                    <input type="number" placeholder="Write your Answer" name="Q7" required>
                    <br>
                    <br>
                    <label for="Q8"><b>מהן העלויות הלא מפורשות (implicit costs) של סיד?   </b></label>
                    <input type="number" placeholder="Write your Answer" name="Q8" required>
                    <br>
                    <br>
                    <label for="Q9"><b>מהו הרווח החשבונאי (accounting profit) של סיד?  </b></label>
                    <input type="number" placeholder="Write your Answer" name="Q9" required>
                    <br>
                    <br>
                    <label for="Q10"><b>מהו הרווח החשבונאי (accounting profit) של סיד?   </b></label>
                    <input type="number" placeholder="Write your Answer" name="Q10" required>
                    <br>
                    <br>
                    <input type="submit" class="btn btn-info" >
                </form>


    </body>
</html>





