<!doctype html>
<html dir="rtl" lang="ar">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href={{ url_for('static', filename= '/css/general.css') }}>
    <script src={{ url_for('static', filename='js/js.js') }}></script>

    <title>Consent</title>
    </head>
<body>
    <div class="grid-container">
        <div class="logo">
            <img id="logoImg" src="{{url_for('static', filename='images/logobengurion.png') }}" alt= "logo"><br>
        </div>
        <div class="nameUni">
            <div class="container-fluid" style="text-align: right">
                <h1>אוניברסיטת בן-גוריון בנגב - המחלקה להנדסת תעשייה וניהול</h1>
            </div>
        </div>

        <div class="container-fluid" style="text-align: right" >

            <h2 style="text-align: right">טופס הסכמה מדעת להשתתפות בניסוי</h2>
            <p><br>
                נכתב בלשון נקבה מטעמי נוחות בלבד, אך מיועד לנשים וגברים כאחד.<br>

            א. הנך עומדת להשתתף בניסוי כחלק ממחקר העוסק בקבלת החלטות.<br>
            ב. במהלך הניסוי יוצגו בפניך מספר שאלות שעליהן תתבקשי לענות.<br>
            ג. המחקר והניסוי אושרו על ידי ועדת האתיקה של האוניברסיטה.<br>
            ד. מובטחת סודיות באשר לזהות האישית של כל משתתפת. אין ולא תהיה כל דרך לקשר בין הפרטים האישיים של המשתתפים לבין התשובות והנתונים שהם מספקים במהלך הניסוי.<br>
            ה. משתתפים שישלימו את הניסוי, יקבלו נקודת בונוס בציון הסופי בקורס בסיסי נתונים/ מערכות בינה עסקית(BI)/ בניית מערכות ממוחשבות מבוססות אינטרנט (WEB) כגמול על השתתפותם.<br>
            ו. ניתן לפרוש בכל עת מהשתתפות בניסוי. עם זאת, משתתפת שפרשה לא תיהיה זכאית לכל גמול.<br>
            ז. בכל בעיה הקשורה לניסוי ניתן לפנות לתהילה ביטון בכתובת דוא"ל: bitonte@post.bgu.ac.il.<br>
            <br>
            הנני מצהירה בזאת כי הבנתי את כל האמור לעיל וכי נתתי מרצוני החופשי את הסכמתי הנ"ל,</p>

            <form method="get" action="/requestCheck" id="formid">
                <input type="radio" id="yes" name="check" value="yes" required>
                <label for="yes">אני מאשרת. להתחלת הניסוי עברי לעמוד הבא.</label><br>
                <input type="radio" id="no" name="check" value="no" required>
                <label for="no">אני לא מאשרת. לסיום, סגרי את הדפדפן.</label><br><br>

                <input type="submit" class="btn btn-info" value="לדף הבא"  style="text-align:center;">
            </form>
        </div>
    </body>
</html>





