<!doctype html>
<html lang="he" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href={{ url_for('static', filename= '/css/general.css') }}>
    <script src={{ url_for('static', filename='js/js.js') }}></script>

    <title>Consent</title>
    </head>
<body>
    <div class="grid-container">
        <div class="logo">
            <img id="logoImg" src="{{url_for('static', filename='images/logobengurion.png') }}" alt= "logo"><br>
        </div>
        <div class="nameUni">
            <div class="container-fluid" style="text-align: right">
                <h1>אוניברסיטת בן-גוריון בנגב - המחלקה להנדסת תעשייה וניהול</h1>
            </div>
        </div>

        <div class="container-fluid" style="text-align: right">

            <h2 style="text-align: right">טופס הסכמה מדעת להשתתפות בניסוי</h2>
            <p><br>
            א. הנך עומד\ת להשתתף בניסוי כחלק ממחקר העוסק בקבלת החלטות.<br>
            ב. במהלך הניסוי יוצגו בפניך מספר שאלות שעליהן תתבקש\י לענות.<br>
            ג. המחקר והניסוי אושרו על ידי ועדת האתיקה של האוניברסיטה.<br>
            ד. מובטחת סודיות באשר לזהות האישית של כל משתתף. אין ולא תהיה כל דרך לקשר בין הפרטים האישיים של המשתתפים לבין התשובות והנתונים שהם מספקים במהלך הניסוי.<br>
            ה. ההשתתפות בניסוי אורכת כ-45 דקות.<br>
            ו. משתתפים שישלימו את הניסוי, יקבלו נקודת בונוס בציון הסופי בקורס בסיסי נתונים/מערכות בינה עסקית(BI) כגמול על השתתפותם.<br>
            ז. ניתן לפרוש בכל עת מהשתתפות בניסוי. עם זאת, משתתף שפרש לא יהיה זכאי לכל גמול.<br>
            ח. בכל בעיה הקשורה לניסוי ניתן לפנות לנעמה אילני בכתובת דוא"ל: naamail@post.bgu.ac.il.<br>
            <br>
            הנני מצהיר\ה בזאת כי הבנתי את כל האמור לעיל וכי נתתי מרצוני החופשי את הסכמתי הנ"ל ,</p>


             <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"  required name="terms" >
             <label class="form-check-label" for="defaultCheck1">
                &emsp;אני מאשר\ת. להתחלת הניסוי עבור לעמוד הבא </p> <br>
             </label>

             <p style="text-align:center;">
                 <a onclick="redirect() "><button type="button" class="btn btn-info">לדף הבא</button></a>
             </p>
        </div>
    </body>
</html>





