<!doctype html>
<html lang="he" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href={{ url_for('static', filename= '/css/general.css') }}>
    <script src={{ url_for('static', filename='js/js.js') }}></script>

    <title>Demographie</title>
    </head>
<body>
<img id="logoImg" src="{{url_for('static', filename='images/logobengurion.png') }}" alt= "logo"><br>
<h4>אוניברסיטת בן-גוריון בנגב</h4>
<h2 style="text-align: right">שאלון דמוגרפי</h2>

<form action="/request" method="POST">
    1. באיזה מכשיר ביצעת את המבחן ?<br>
    <input type="radio" id="PC" name="device" value="">
    <label for="PC">מחשב נייד</label><br>
    <input type="radio" id="Mobile" name="device" value="">
    <label for="Mobile">טלפון סלולרי</label><br><br>
	2. מה הגיל שלך?<br><br>
    <input type="text" id="age" name="age" value="">
    <label for="age"></label><br><br>
    3. לאיזה מגדר אתה משתייך? <br>
    <input type="radio" id="men" name="gender" value="">
    <label for="men">גבר</label><br>
    <input type="radio" id="woman" name="gender" value="">
    <label for="woman">אישה</label><br>
    <input type="radio" id="other" name="gender" value="">
    <label for="other">אחרת</label><br><br>



</form>



<p style="text-align:center;">
    <button type="button" class="btn btn-info" ><a href="/demog" >לדף הבא</a></button>
</p>

    </body>
</html>







