<!doctype html>
<html lang="he" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href={{ url_for('static', filename= '/css/general.css') }}>
    <script src={{ url_for('static', filename='js/js.js') }}></script>

    <title>Demographie</title>
    </head>
<body>
<img id="logoImg" src="{{url_for('static', filename='images/logobengurion.png') }}" alt= "logo"><br>
<h4>אוניברסיטת בן-גוריון בנגב</h4>
<h2 style="text-align: right">שאלון דמוגרפי</h2>

<form action="/request" method="POST">
    1. באיזה מכשיר ביצעת את המבחן ?<br>
    <input type="checkbox" id="PC" name="PC" value="PC">
    <label for="PC">PC</label><br>
    <input type="checkbox" id="Mobile" name="Mobile" value="Mobile">
    <label for="Mobile">Mobile</label><br>
</form>



<p style="text-align:center;">
    <button type="button" class="btn btn-info" ><a href="/demog" >לדף הבא</a></button>
</p>

    </body>
</html>







