<!doctype html>
<html dir="rtl" lang="ar">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href={{ url_for('static', filename= '/css/general.css') }}>
    <script src={{ url_for('static', filename='js/js.js') }}></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Instructions</title>
    </head>
<body>
    <div class="grid-container">
        <div class="logo">
            <img id="logoImg" src="{{url_for('static', filename='images/logobengurion.png') }}" alt= "logo" onload="mobileCheck('{{ user }}')"><br>
        </div>
        <div class="nameUni">
            <div class="container-fluid" style="text-align: right">
                <h1>אוניברסיטת בן-גוריון בנגב - המחלקה להנדסת תעשייה וניהול</h1>
            </div>
        </div>
    </div>
  <div class="container-fluid" style="text-align: right"  id="formid">
        <h2 style="text-align: right">הנחיות להשתתפות בניסוי</h2>
            <p><br>
            אתה עומד להתחיל בניסוי, המחולק לשלבים.<br>
            בכל שלב ישנו דף אינטרנט המכיל שאלות או משימה.<br>
            להשלמת הניסוי עליך לענות על השאלות או להשלים את המשימה בכל עמוד ולעבור הלאה עד שתגיע לדף הסיום.<br>
            לא תוכל לעבור קדימה ואחורה בין הדפים. לכן, התקדם רק כאשר התשובות שסיפקת הן סופיות, או שסיימת את המטלה.<br>
           במהלך הניסוי, עליך להישאר רק בדף הניסוי ולא להשתמש בדפדפנים או בדפי אינטרנט אחרים.<br>
            גם אם שואלים אותך על משהו שאתה לא יודע, המשך במשימה.<br>
           יש לבצע את הניסוי לבד ובלתי תלוי.<br>
            אנא אל תעביר מידע כלשהו אודות תוכן הניסוי לאף משתתף אחר.<br>
            כדי לקבל את נקודת הבונוס, יש לענות על כל השאלות.<br>
               אין הגבלת זמן, אך הניסוי אמור לקחת כ-45 דקות.<br>
             <p style="text-align:center;">
             </p>
  </div>
<p style="text-align:center;">
  <!--  <button type="button" class="btn btn-info" ><a href="/consent"  >לדף הבא</a></button>-->
                     <a href="/consent"><button type="button" class="btn btn-info">לדף הבא</button></a>

</p>


    </body>
</html>





