<!doctype html>
<html dir="rtl" lang="ar">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href={{ url_for('static', filename= '/css/general.css') }}>
    <script src={{ url_for('static', filename='js/js.js') }}></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Instructions</title>
    </head>
<body>
    <div class="grid-container">
        <div class="logo">
            <img id="logoImg" src="{{url_for('static', filename='images/logobengurion.png') }}" alt= "logo" onload="mobileCheck('{{ user }}')"><br>
        </div>
        <div class="nameUni">
            <div class="container-fluid" style="text-align: right">
                <h1>אוניברסיטת בן-גוריון בנגב - המחלקה להנדסת תעשייה וניהול</h1>
            </div>
        </div>
    </div>
  <div class="container-fluid" style="text-align: right"  id="formid">
        <h2 style="text-align: right">הנחיות להשתתפות בניסוי</h2>
            <p><br>
            נכתב בלשון נקבה מטעמי נוחות בלבד, אך מיועד לנשים וגברים כאחד.<br>
            הינך עומדת להתחיל השתתפותך בניסוי.<br>
            באתר הניסוי שלפניך יש מספר עמודי אינטרנט, הינך מתבקשת:<br>
            1. לעבור בין העמודים ולבצע את כל המשימות או לענות על כל השאלות בכל עמוד.<br>
           2. לא לדפדף אחורה בין העמודים, אלא רק קדימה.<br>
            3. לעבוד באופן עצמאי.<br>
           4. לעבוד באופן רציף, ללא הפסקות (אלא אם התבקשת).<br>
            5. להגיע עד עמוד הסיום.<br>
            6. לא להעביר מידע אודות הניסוי לחברייך.<br>
                7. אין הגבלת זמן, אולם השתתפות אורכת כ-25 דקות בממוצע.<br>
                     8. הינך רשאית לפרוש מהניסוי בכל שלב, יחד עם זאת, רק מי שהשלימה את הניסוי, תקבל את נקודת הבונוס.<br>

             <p style="text-align:center;">
             </p>
  </div>
    <p style="text-align:center;">
        <a href="/timestampIns"><button type="button" class="btn btn-info">לדף הבא</button></a>

    </p>


    </body>
</html>





