<!doctype html>
<html lang="he" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href={{ url_for('static', filename= '/css/general.css') }}>
    <script src={{ url_for('static', filename='js/js.js') }}></script>

    <title>Pre Test</title>
    </head>
<body>
    <div class="grid-container">
        <div class="nameUni">
            <h1>אוניברסיטת בן-גוריון בנגב - המחלקה להנדסת תעשייה וניהול</h1>
        </div>
        <div class="logo">
            <img id="logoImg" src="{{url_for('static', filename='images/logobengurion.png') }}" alt= "logo"><br>
        </div>
    </div>

    <h2 style="text-align: right">שאלון מקדים להשתתפות בניסוי</h2>
    <p><br>
            יש לענות על סמך ידע אישי ללא שימוש בעזרים.<br>
            אם אינך יודע/ת, ניתן לרשום זאת כתשובה.<br>
    </p>
        <form method="GET" action='requestPre'>
            <p>
            </p>
            <label for="Q1"><b>הסבר מהי עלות הזדמנות, Opportunity Cost. </b></label>
            <br>
            <br>
            <textarea id= "Q1" name="Q1" placeholder="Write your Answer" cols="40" rows="5" required></textarea>
            <br>
            <br>
            <label for="Q2"><b>הסבר מהי עלות מפורשת, Explicit Cost. </b></label>
            <br>
            <br>
            <textarea id= "Q2" name="Q2" placeholder="Write your Answer" cols="40" rows="5" required></textarea>
            <br>
            <br>
            <label for="Q3"><b>הסבר מהי עלות לא מפורשת, Implicit Cost. </b></label>
            <br>
            <br>
            <textarea id= "Q3" name="Q3" placeholder="Write your Answer" cols="40" rows="5" required></textarea>
            <br>
            <br>
            <label for="Q4"><b>הסבר מהו רווח חשבונאי, Accounting Profit.</b></label>
            <br>
            <br>
            <textarea id= "Q4" name="Q4" placeholder="Write your Answer" cols="40" rows="5" required></textarea>
            <br>
            <br>
            <label for="Q5"><b>הסבר מהו רווח כלכלי, Economic Profit. </b></label>
            <br>
            <br>
            <textarea id= "Q5" name="Q5" placeholder="Write your Answer" cols="40" rows="5" required></textarea>
            <br>
            <br>
            <input type="submit" class="btn btn-info" >

</form>
    </body>
</html>





