<!doctype html>
<html lang="he" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href={{ url_for('static', filename= '/css/general.css') }}>
    <script src={{ url_for('static', filename='js/js.js') }}></script>

    <title>Pre Test</title>
    </head>
<body>
    <div class="grid-container">
        <div class="nameUni">
            <h1>אוניברסיטת בן-גוריון בנגב - המחלקה להנדסת תעשייה וניהול</h1>
        </div>
        <div class="logo">
            <img id="logoImg" src="{{url_for('static', filename='images/logobengurion.png') }}" alt= "logo"><br>
        </div>
    </div>

        <h2 style="text-align: right">שאלון מקדים להשתתפות בניסוי</h2>
            <p>שאלון
            </p>
<p style="text-align:center;">
    <button type="button" class="btn btn-info" ><a href="/video1" >לדף הבא</a></button>
</p>

    </body>
</html>





