<!doctype html>
<html dir="rtl" lang="ar">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href={{ url_for('static', filename= '/css/general.css') }}>
        <script src={{ url_for('static', filename='js/js.js') }}></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <title>Video</title>
    </head>
    <style>
        p {
        text-align: center;
        font-size: 60px;
        margin-top: 0px;
        }
    </style>
    </head>
    <body>
        <div class="grid-container">
            <div class="logo">
                <img id="logoImg" src="{{url_for('static', filename='images/logobengurion.png') }}" alt= "logo" onload="buttonHidd()"><br>
            </div>
            <div class="nameUni">
                <h1>אוניברסיטת בן-גוריון בנגב - המחלקה להנדסת תעשייה וניהול</h1>
            </div>
            <div class="container-fluid" style="text-align: right">
                <h3>זמן זה הינו מוקדש להפסקה,<br>
                    נא לא לסגור את הדפדפן בזמן זה.
                </h3>
                <br>
            </div>
            </div>
        <p id="demo"> </p>
        <br>
        <div class="container-fluid">
      <p style="text-align:center;">
        <a href="/timestampTimer" ><input type="button" class="btn btn-info" id="togglee" value="לדף הבא" ></a>
      </p>
        </div>





        <script>

            function buttonHidd(){
                document.getElementById('togglee').style.visibility = 'hidden';
            }
        // Set the date we're counting down to
        var countDownDate = new Date().getTime()+3000 //3 mins--180000

        // Update the count down every 1 second
        var x = setInterval(function() {

          // Get today's date and time
          var now = new Date().getTime();

          // Find the distance between now and the count down date
          var distance = countDownDate - now;

          // Time calculations for minutes and seconds
          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((distance % (1000 * 60)) / 1000);

          // Output the result in an element with id="demo"
          document.getElementById("demo").innerHTML = minutes + "m " + seconds + "s ";

          // If the count down is over, go to next page
          if (distance <= 0) {
            clearInterval(x);
           <!-- window.location.href = '/video2';-->
              document.getElementById('togglee').style.visibility = 'visible';
          }
        }, 1000);
        </script>

    </body>
</html>





