<!doctype html>
<html lang="he" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href={{ url_for('static', filename= '/css/general.css') }}>
    <script src={{ url_for('static', filename='js/js.js') }}></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Video</title>
    </head>
<body>
<div class="grid-container">
        <div class="logo">
            <img id="logoImg" src="{{url_for('static', filename='images/logobengurion.png') }}" alt= "logo"><br>
        </div>
        <div class="nameUni">
            <div class="container-fluid" style="text-align: right">
                <h1>אוניברסיטת בן-גוריון בנגב - המחלקה להנדסת תעשייה וניהול</h1>
            </div>
        </div>

    <div class="container-fluid" style="text-align: right">
    <h2 style="text-align: right">סרטון</h2>
    <p style ="text-align: right" >  נא צפה בסרטון זה: </p>
    <p style="text-align:center;">
        <br>
        <iframe width="1158" height="504" src="https://www.youtube.com/embed/5-03899n678?v=5-03899n678&autoplay=0&showinfo=0&controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
        <br>

                {% if ce[0] == True %}
                    <a href="/video2"><input type="button" class="btn btn-info" id="myBtn" value="לדף הבא"></a>
                    {% else %}
                    <a href="/timer"><input type="button" class="btn btn-info" id="myBtn" value="לדף הבא"></a>
                {% endif %}


       <!-- {% if ce==True %}
            <a href="/video2"><input type="button" id="myBtn" value="לדף הבא"></a>
            {% else %}
            <a href="/timer"><input type="button" id="myBtn" value="לדף הבא"></a>
        {% endif %}-->
        </p>
    </div>
</div>

</body>
</html>





